*.pyc
*-resnet-101.*

lib/multicut_cython/build/
lib/multicut_cython/multicut.cpp
lib/multicut_cython/multicut.so

lib/nms_cython/build/
lib/nms_cython/nms_grid.cpp
lib/nms_cython/nms_grid.so

models/coco/pairwise_coco.tar.gz

lib/coco/PythonAPI/build/
lib/coco/PythonAPI/pycocotools/_mask.c
lib/coco/PythonAPI/pycocotools/_mask.so

models/coco/pairwise/
*.ckpt
